body{
margin:0px;
}
.block1{
    width:100%;
    height:100vh;
    background:#403E3E;
}
.block2{
    width:100%;
    height:100vh;
    background:#717171;
}
.block3{
    width:100%;
    height:100vh;
    background:#403E3E;
}
.nav {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}
.logo{
margin-left:20px;
padding-top:20px;

}

.links{
    
    width:250px;
    padding-top:28px;
    
}
.links a {
 
  margin: 20px;
  text-decoration: none;
  font-family: Jura;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}

.fon{
  position:absolute;
  bottom:0px;
  right: 0px;
}

h1{
 position:absolute;
    margin-left:40px;
    margin-top:3%;
    margin-bottom:0px;
font-family: Jura;
font-style: normal;
font-weight: normal;
font-size: 6vw;
color: #FFFFFF;
}
h2{
 position:absolute;
    margin-left:40px;
    margin-top:9%;
    margin-bottom:0px;
font-family: Jura;
font-style: normal;
font-weight: normal;
font-size: 4vw;
color: #FFFFFF;
}
h3{
    position:absolute;
    width: 30%;
height: 20%;
left: 45px;
top: 348px;
    font-family: Jura;
font-style: normal;
font-weight: normal;
font-size: 2vw;
line-height: 2.6vw;

color: #FFFFFF;
}
.buttons{
   position:absolute;
    top:200px;
    right:35px;
    display:block; 
    align-content: center;
}
button{
    
    cursor:pointer;
    margin:3vw;
    border:none;
    width: 25vw;
    height: 32vw;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.21) 0%, rgba(255, 255, 255, 0) 100%);
mix-blend-mode: normal;
backdrop-filter: blur(5px); 
    
}
@media (max-width:480px){
    button{width: 33vw;
    height: 40vw;}
}

rrect{

    position:absolute;
    top:0px;
    right:0px;
    background-repeat: no-repeat;
background-position: center;
    border:none;
    width: 25vw;
    height: 32vw;
    background-image: url(images/samu.png);
mix-blend-mode:lighten;
backdrop-filter: blur(15px);
    background-repeat: no-repeat;

}
@media (max-width:480px){
    
    rrect{width: 33vw;
    height: 40vw;
    }
}
rrect:hover{
    mix-blend-mode:lighten;
backdrop-filter: blur(200px);
}
rrect1{

    position:absolute;
    top:0px;
    right:0px;
    background-repeat: no-repeat;
background-position: center;
    border:none;
    width: 25vw;
    height: 32vw;
    background-image: url(images/kat.png);
mix-blend-mode:lighten;
backdrop-filter: blur(15px);
    background-repeat: no-repeat;

}
@media (max-width:480px){
    
    rrect1{width: 33vw;
    height: 40vw;
    }
}
rrect1:hover{
    mix-blend-mode:lighten;
backdrop-filter: blur(200px);
}
tect{

    position:absolute;
    top:0px;
    right:0px;
    border:none;
    width: 25vw;
    height: 7vw;
    background: #EF0D21;
mix-blend-mode:lighten;
backdrop-filter: blur(100px);
    
    font-family: Jura;
font-style: normal;
font-weight: normal;
font-size: 3vw;
line-height: 7vw;
letter-spacing: 0.3em;
color: #000000;
}
@media (max-width:480px){
    tect{
        
        width: 33vw;
    height: 7vw;
    }
}

h4{
    position: absolute;
left: 20px;

bottom: 0px;

font-family: Jura;
font-style: normal;
font-weight: normal;
font-size: 2vw;
line-height: 28px;

color: #FFFFFF;
}
